*.log
.DS_Store
.project
.strong-pm
node_modules
logs
doc/dist
config/production.js
config/config.js
tests/node_modules
npm-debug.log

public/illus/*
!/public/illus/
public/tmp/actors/*
!/public/tmp/actors
public/tmp/posters/*
!/public/tmp/posters
public/posters/cover/*
!/public/posters/cover
public/posters/thumbnails/*
!/public/posters/thumbnails